body {
  font-family: Helvetica, Arial,  sans-serif;
  color: white;
  height: 100vh;
  --bHeight: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

main {
  background-color: #212121;
  height: 80%;
  border-radius: calc(var(--bHeight)/20);
  aspect-ratio: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.display {
  width: 100%;
  height: 37.5%;
  padding: 5%;
  padding-bottom: 10%;
  margin: 0;
  font-size: 36px;
  font-weight: 200;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
}

.button {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

button {
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  width: 20%;
  aspect-ratio: 1/1;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 2%;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

.operator, #equal {
  background-color: orange;
}

.operator:active, #equal:active {
  background-color: rgb(255, 217, 145)
}

.other {
  background-color: rgb(197, 197, 197);
  color: black;
}

.other:active {
  background-color: rgb(217, 217, 217);
}

.number {
  background-color: #686868;
}

.number:active {
  background-color: #828282;
}
#zero {
  width: 44%;
  aspect-ratio: 11/5;
  border-radius: calc(var(--bHeight)/10);
  box-sizing: border-box;
}

.on {
  background-color: white;
  color: orange;
}